@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --pump-background: 0 0% 100%;
        --pump-foreground: 222.2 47.4% 11.2%;
        --pump-muted: 210 40% 96.1%;
        --pump-muted-foreground: 215.4 16.3% 46.9%;
        --pump-popover: 0 0% 100%;
        --pump-popover-foreground: 222.2 47.4% 11.2%;
        --pump-border: 214.3 31.8% 91.4%;
        --pump-input: 214.3 31.8% 91.4%;
        --pump-card: 0 0% 100%;
        --pump-card-foreground: 222.2 47.4% 11.2%;
        --pump-primary: 222.2 47.4% 11.2%;
        --pump-primary-foreground: 210 40% 98%;
        --pump-secondary: 210 40% 96.1%;
        --pump-secondary-foreground: 222.2 47.4% 11.2%;
        --pump-accent: 210 40% 96.1%;
        --pump-accent-foreground: 222.2 47.4% 11.2%;
        --pump-destructive: 0 100% 50%;
        --pump-destructive-foreground: 210 40% 98%;
        --pump-ring: 215 20.2% 65.1%;
        --pump-radius: 0.5rem;
    }

    .dark {
        --pump-background: 224 71% 4%;
        --pump-foreground: 213 31% 91%;
        --pump-muted: 223 47% 11%;
        --pump-muted-foreground: 215.4 16.3% 56.9%;
        --pump-accent: 216 34% 17%;
        --pump-accent-foreground: 210 40% 98%;
        --pump-popover: 224 71% 4%;
        --pump-popover-foreground: 215 20.2% 65.1%;
        --pump-border: 216 34% 17%;
        --pump-input: 216 34% 17%;
        --pump-card: 224 71% 4%;
        --pump-card-foreground: 213 31% 91%;
        --pump-primary: 210 40% 98%;
        --pump-primary-foreground: 222.2 47.4% 1.2%;
        --pump-secondary: 222.2 47.4% 11.2%;
        --pump-secondary-foreground: 210 40% 98%;
        --pump-destructive: 0 63% 31%;
        --pump-destructive-foreground: 210 40% 98%;
        --pump-ring: 216 34% 17%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply font-sans antialiased bg-background text-foreground;
    }
}
